div {
  padding: 15px 15px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  display: flex;
  flex-direction: row;
  color: white !important;
  gap: 10px;
}

.top-bar {
  width: 100vw;
  background-color: rgb(2, 13, 107);
}
a.mainLink {
  background-color: aliceblue;
  border-radius: 5px;
  padding: 5px 15px;
  text-decoration: none;
  font-weight: 600;
}
.icon-button-fix {
  width: 20px !important;
  height: 20px !important;
}

.icon-fix {
  background-color: aliceblue;
  padding: 5px 5px !important;
  top: -10px;
  border-radius: 5px;
}

.subLink{
    color:black;
    text-decoration: none;
}